@using OATS_Capstone.Models
@{
    ViewBag.Title = "Index";
}
@{
    var authen=AuthenticationSessionModel.Instance();
    var user = authen.User;
    }
<script src="~/Resource/Scripts/UsersScript.js"></script>
<script src="~/Resource/Scripts/SearchTeachers.js"></script>
<input type="hidden" id="current-user-id" value="@authen.UserId" />
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div id="savestatus" style="display: none;">
            <span class="nt-desc" style="display: inline;"></span>
        </div>
        <div class="container">
            <a id="logo" class="brand" href="@Url.Action("Index","Tests")">OATS</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", "Tests")"><i class="t-icon i-tests"></i>Tests</a></li>
                    <li class="active"><a href="@Url.Action("Index", "Teachers")"><i class="t-icon i-teachers"></i>Teachers</a></li>
                    <li><a href="@Url.Action("Index", "Students")"><i class="t-icon i-student"></i>Students</a></li>
                    <li>
                        <button id="makeTeacher" class="btn oval">New</button></li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <div class="navbar-search pull-left">
                            <input type="text" class="nt-search-input search-query" placeholder="Search Users" />
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="t-icon icon-user"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                             <li class="nav-header">Welcome: @(user.FirstName ?? user.LastName ?? user.UserMail)</li>
                            <li class="divider"></li>
                            <li><a href="#" id="profile-link">My Profile</a></li>
                            <li><a href="@Url.Action("LogOut", "Account")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<div id="container" class="container wrapper" style="height: auto;">
    <div class="nt-msg">
        <div class="nt-dnd-instr">
            <p>Search for any existing educator's basic data and performance records using the Search box in the header - enter a few letters of their name or a tag that they have to filter the list.</p>
            <p>To create new educator logins, just drag and drop their names and email address right here or click on the NEW button in the header.</p>
            <p>You can drop here any text where each line has one or more pairs of educator name and  email address. All of these lines would work fine:</p>
            <div class="nt-dnd-example-text">
                <pre>A SampleUser a@terascore.com<br>B SampleUser b@terascore.com; C SampleUser &lt;c@terascore.com&gt;<br>"D SampleUser, Jr." d@terascore.com, E SampleUser &lt;e@terascore.com&gt;</pre>
            </div>
        </div>
    </div>
    </div>