@using OATS_Capstone.Models
@model OATS_Capstone.Models.User
@{
    var invitations = Model.Invitations.Where(i => i.Role.RoleDescription == "Teacher");
}
<div class="accordion-group nt-acc-group nt-asms-list-cont upandrunning nt-acc-open">
    <div class="nt-asms-list nt-guide">
        <a>
            <div class="nt-list-head">
                <div class="nt-status">Status</div>
                <div class="nt-name">
                    Assigned Tests
                </div>
                <div class="nt-date">Start</div>
                <div class="nt-date">End</div>

                <i class="t-icon arrow-up"></i>
                <div>&nbsp;</div>
            </div>
        </a>

        <div class="nt-list-cont" style="height: 450px;">
            @if (invitations.Count() == 0)
            {
                <div class="nt-empty-list-ph">
                    <p>No running or upcoming tests available.</p>
                </div>
            }
            else
            {
                foreach (var invitation in invitations)
                {
                <div class="nt-list-row" test-id ="@invitation.Test.TestID" invitation-id="@invitation.InvitationID">
                    @if (invitation.IsMailSent)
                    {
                        <div class="nt-status"><span class="label label-info">Mail Sent</span></div>
                    }
                    else
                    {
                        <div class="nt-status"><span class="label label-important">Mail Un-Sent</span></div>
                    }
                    <div class="nt-name">
                        <span>@invitation.Test.TestTitle</span>
                        <button class="nt-btn-icon nt-openbtn">
                            <i class="t-icon pencilpaper"></i>
                        </button>
                    </div>
                    <div class="nt-date">
                        @invitation.Test.StartDateTime.ToDateDefaultFormat()
                    </div>
                    <div class="nt-date">
                        @invitation.Test.EndDateTime.ToDateDefaultFormat()
                    </div>
                    <div class="nt-ctrl nt-ctrl-wide">
                        <button class="nt-btn-dark static nt-btn-sqr text nt-unassignbtn">
                            <i class="t-icon unassign pushable white"></i>
                            Unassign
                        </button>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
