@using OATS_Capstone.Models
@model OATS_Capstone.Models.TestList
@section additionheader{
    <script src="~/Bootstrap/js/jquery.tinysort.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/GridviewScroll.css" rel="stylesheet" />
    <script src="~/Bootstrap/js/gridviewScroll.min.js"></script>

    <link href="~/Bootstrap/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/fullcalendar.print.css" rel="stylesheet" media="print" />
    <script src="~/Bootstrap/js/fullcalendar.js"></script>
}

@{
    ViewBag.Title = "Index";
}
@{
    var authen = AuthenticationSessionModel.Instance();
    var user = authen.User;
    var tab = string.Empty;
    if (ViewBag.Tab != null)
    {
        tab = ViewBag.Tab;
    }
}
<script src="~/Resource/Scripts/NewTest_IndexScript.js"></script>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div id="savestatus" style="display: none;">
            <span class="nt-desc" style="display: inline;"></span>
        </div>
        <div class="container">
            <a id="logo" class="brand" href="@Url.Action("Index", "Tests")">OATS</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Tests")"><i class="t-icon i-tests"></i>Tests</a></li>
                    <li><a href="@Url.Action("Index", "Teachers")"><i class="t-icon i-teachers"></i>Teachers</a></li>
                    <li><a href="@Url.Action("Index", "Students")"><i class="t-icon i-student"></i>Students</a></li>
                    <li>
                        <button class="btn oval" data-toggle="modal" data-target="#askTestTitleModal">New</button></li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <div class="navbar-search pull-left">
                            <input type="text" class="nt-search-input search-query" placeholder="Search Tests" />
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="t-icon icon-user"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Welcome: @(string.IsNullOrEmpty(user.Name) ? user.UserMail : user.Name)</li>
                            <li class="divider"></li>
                            <li><a href="#" id="profile-link">My Profile</a></li>
                            <li><a href="@Url.Action("LogOut", "Account")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<div id="container" class="container wrapper">
    <div class="tabs-wrapper">
        <div class="navbar">
            <div class="navbar-inner test-larger-custom">
                <ul class="nav">
                    @switch (tab)
                    {
                        case "overview":
                        <li><a class="tab-event" href="@Url.Action("Index_TestListTab")" data-role="Do">To Do Tests</a></li>
                        <li><a class="tab-event" href="@Url.Action("Index_TestListTab")" data-role="Review">Review Tests</a></li>
                        <li><a class="tab-event" href="@Url.Action("Index_CalendarTab")">Calendar</a></li>
                        <li class="active"><a class="tab-event" href="@Url.Action("Index_OverViewTab")">Tests Statistic Overview</a></li>
                            break;
                        default:
                        <li class="active"><a class="tab-event" href="@Url.Action("Index_TestListTab")" data-role="Do">To Do Tests</a></li>
                        <li><a class="tab-event" href="@Url.Action("Index_TestListTab")" data-role="Review">Review Tests</a></li>
                        <li><a class="tab-event" href="@Url.Action("Index_CalendarTab")">Calendar</a></li>
                        <li><a class="tab-event" href="@Url.Action("Index_OverViewTab")">Tests Statistic Overview</a></li>
                            break;
                    }
                </ul>
            </div>
        </div>
        <div id="eventTab">
            @Html.Partial("P_TestListTab",Model)
        </div>
    </div>
</div>
<div id="askTestTitleModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Specify Title of Test</h3>
    </div>
    <div class="modal-body">
        <input id="inputTestTitle" type="text" class="span5" placeholder="Enter Test Title" required="" />
    </div>
    <div class="modal-footer">
        <a id="btnMakeTest" href="#" class="btn btn-primary">Create</a>
        <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    </div>
</div>
