@using OATS_Capstone.Models
@model IEnumerable<OATS_Capstone.Models.FeedBack>
@{
    var commentCount = Model.Select(k => k.FeedBackID); 
 }
<div class="nt-asm-settings" style="height: 400px; overflow-y: auto;">
    <div id="comments" class="nt-panel" style="height: 400px; overflow-y: auto">
        <div class="comment-count"> All Comment
            <span>
                (@commentCount.Count())
            </span>

        </div>
        @foreach (var feedback in Model)
        {
            <article class="comment">

                <div class="comment-meta">
                    <a href="http://www.web4you.co.in" class="url">@feedback.User.FirstName <span></span>@feedback.User.LastName</a> says
                  
                <time datetime="2011-08-09T15:15:06+00:00" pubdate="">@feedback.FeedBackDateTime</time>
                </div>

                <div class="comment-body">
                    <p>@feedback.FeedBackDetail
                    </p>
                </div>

            </article>		 
        }
    </div>
</div>
