@model OATS_Capstone.Models.FeedBack

<article class="comment" parent-id="@Model.FeedBackID">
    <div class="comment-meta">
        <a href="#" class="url">@(Model.User.FirstName??Model.User.LastName??Model.User.UserMail)</a> says<time>@Model.FeedBackDateTime</time>
    </div>
    <div class="comment-body">
        <p>
            @Model.FeedBackDetail
        </p>

        <div class="reply-container" toggle-header>
            <div class="pointer">
                <i class="t-icon i-chat"></i>
                <a class="reply-count-link">@Model.FeedBackChilds.Count() reply</a>
            </div>
        </div>
        <div class="reply-container" style="display: none;" toggle-detail>
            <div class="pointer" toggle-detail-trigger>
                <i class="t-icon i-caret-up"></i>
                <a class="reply-count-link">Hide</a>
            </div>
            <div class="reply-details">
            @foreach (var item in @Model.FeedBackChilds)
            {
                @Html.Partial("P_FeedBack_Form_Item_Reply",item)
            }
                </div>
            <textarea class="span5 pull-left reply-area" placeholder="Your comment"></textarea>
            <button class="btn btn-primary reply-button" value="@Model.FeedBackID">Reply</button>
        </div>
    </div>
     
</article>
