@using OATS_Capstone.Models
@model IEnumerable<OATS_Capstone.Models.FeedBack>
@{
    var commentCount = Model.Select(k => k.FeedBackID);
    var sortedByDateFeedBack = Model.OrderByDescending(i => i.FeedBackDateTime);
}
<div class="nt-asm-settings" style="height: 400px; overflow-y: auto;">
    <div id="comments" class="nt-panel" style="height: 400px; overflow-y: auto">
        <div class="comment-count">
            All Comments
            <span>(@commentCount.Count())         
            </span>
            <div class="btn-group" style="margin-left:38px">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort by
    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("aaa")">By Date</a></li>
                    <li><a href="@Url.Action("aaa")">By Name</a></li>
                    <!-- dropdown menu links -->
                </ul>
            </div>

        </div>
        @foreach (var feedback in sortedByDateFeedBack)
        {
            <article class="comment">

                <div class="comment-meta">
                    <a href="http://www.web4you.co.in" class="url">@feedback.User.FirstName <span></span>@feedback.User.LastName</a> says
                  
                <time datetime="2011-08-09T15:15:06+00:00" pubdate="">@feedback.FeedBackDateTime</time>
                </div>

                <div class="comment-body">
                    <p>@feedback.FeedBackDetail
                    </p>
                </div>

            </article>		 
        }
    </div>
</div>
