@model OATS_Capstone.Models.InvitationMasterModel
@{
    var studentsInvited = Model.InvitationList.Where(i => i.User.Role.RoleID == 2);
    var teachersInvited = Model.InvitationList.Where(i => i.User.Role.RoleID == 3);
    var studentList = Model.UserList.Where(i => i.RoleID==2);
    var teacherList = Model.UserList.Where(i => i.RoleID == 3);
    }
<div class="nt-asm-inv">
    <div class="nt-asm-inv-cont" style="height: 440px; overflow-y: auto;">
        <div class="nt-asm-inv-table-cont nt-learner">
            <div class="nt-asm-inv-head">
                <div class="nt-asm-inv-title"><span>Invited Students</span><span class="nt-cnt">(@studentsInvited.Count())</span></div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="nt-desc">Name</th>
                        <th class="nt-desc">Email Address</th>
                        <th class="nt-ctrl"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invitations in studentsInvited)
                    {
                        <tr user-id="@invitations.UserID">
                            <td class="nt-desc nt-name">@invitations.User.LastName<span class="nt-hl-sort">-@invitations.User.FirstName</span></td>
                            <td class="nt-desc nt-email">@invitations.User.UserMail</td>
                            <td class="nt-ctrl">
                                <button class="nt-btn-icon nt-btn-rm">
                                    <i class="icon-remove"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <button id="btn-invite-more-student" style="display: inline-block;" class="nt-btn-submit nt-icon-left">
                                <i class="icon-envelope"></i>
                                Invite More Students
                            </button>
                            <button id="btn-remove-student" style="display: block;" class="nt-btn-light nt-icon-left">
                                <i class="icon-remove"></i>
                                Remove
                            </button>
                            <button id="btn-reinvite-student" style="display: block;" class="nt-btn-light nt-icon-left">
                                <i class="icon-repeat"></i>
                                Re-invite
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
        <div class="nt-asm-inv-table-cont nt-educator">
            <div class="nt-asm-inv-head">
                <div class="nt-asm-inv-title"><span>Invited Educators</span><span class="nt-cnt">(@teachersInvited.Count())</span></div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="nt-desc">Name</th>
                        <th class="nt-desc">Email Address</th>
                        <th class="nt-ctrl"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invitation in teachersInvited)
                    {
                        <tr user-id="@invitation.UserID">
                            <td class="nt-desc nt-name"><span class="nt-hl-sort">@invitation.User.FirstName</span></td>
                            <td class="nt-desc nt-email">@invitation.User.UserMail</td>
                            <td class="nt-ctrl">
                                <button class="nt-btn-icon nt-btn-rm">
                                    <i class="icon-remove"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <button id="btn-invite-more-teacher" style="visibility: visible; display: inline-block;" class="nt-btn-submit nt-icon-left nt-guide" data-action="invite" data-guide="inv_educator_more">
                                <i class="icon-envelope"></i>
                                Invite More Educators
                            </button>
                            <button id="btn-remove-teacher" style="visibility: visible; display: block;" class="nt-btn-light nt-icon-left" >
                                <i class="icon-remove"></i>
                                Remove
                            </button>
                            <button id="btn-reinvite-teacher" style="visibility: visible; display: block;" class="nt-btn-light nt-icon-left nt-guide" data-action="re_invite" data-guide="inv_reinv">
                                <i class="icon-repeat"></i>
                                Re-invite
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



