@model OATS_Capstone.Models.AbsFeedBackUser
<div id="modalPopupFeedback" class="modal hide fade">
    <input id="test-id" type="hidden" value="@Model.TestID" />
    <div class="modal-header">
        <div class="modal-title">Feedback on: @Model.TestTitle</div>
    </div>
    <div class="modal-body">
        <div class="controls">
            <div class="comment-count">
                All Feedbacks 
            <span>@Model.FeedBackCount</span>
            </div>
            <div id="comments" student class="nt-panel" style="height: 280px; width: 950px; overflow-y: auto">
                @foreach (var feedback in @Model.Parents)
                {
                    @Html.Partial("P_FeedBack_Form_Item",feedback)
                }
               
            </div>
        </div>
        <div class="controls">
            <textarea id="message" name="message" style="width: 950px" placeholder="Your Message" rows="4"></textarea>
        </div>
        <div class="controls">
            <button id="contact-submit" class="btn btn-primary input-medium pull-right">Send</button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="nt-btn-dark nt-btn-cancel" data-dismiss="modal">Close</button>
    </div>
</div>
