@model OATS_Capstone.Models.OverviewScoreTests
<div id="sidebar" overview="true" class="disable-accord-ui">
    <div class="t-accord-header">Users</div>
    <div class="t-accord-content">
        <div id="menuUsers" class="nt-acc-content nt-acc-content-noheader nt-acc-content-resp">
            <div class="nt-ctrl-search">
                <div class="nt-search-box">
                    <input type="text" placeholder="Search" class="nt-search-input " />
                    <i class="t-icon icon-search"></i>
                    <button class="nt-btn-icon nt-btn-clear ">
                        <i class="icon-remove-sign"></i>
                    </button>
                </div>
                <div class="nt-ctrl-search-tags nt-taglist"></div>
            </div>
            <div class="nt-ctrl-list">
                <div class="nt-ctrl-line"></div>
                <div class="nt-clb-header">
                    <div class="nt-clb-header-control">
                        <input type="checkbox" checked="checked" class="nt-ctrl-all" />
                    </div>
                    <div class="nt-clb-header-content">
                        <div class="nt-clb-header-label">
                            <span>Student</span>
                            <button class="nt-btn-circle-mini nt-sort-desc" data-order="desc" data-key="name"><i class="t-icon i-caret-down"></i></button>
                            <button class="nt-btn-circle-mini nt-sort-asc" data-order="asc" data-key="name"><i class="t-icon i-caret-up"></i></button>
                        </div>
                    </div>
                </div>
                <div class="nt-ctrl-line"></div>
                <div class="detail-list" style="max-height: 350px; overflow-y: auto;">
                    @foreach (var item in Model.AllUsers)
                    {
                        <div class="nt-clb-item nt-clb-item-multi nt-clb-item-sel">
                            <div class="nt-clb-item-control">
                                <input type="checkbox" checked="checked" user-id="@item.UserID"/>
                            </div>
                            <div class="nt-clb-item-content">
                                <div class="nt-clb-item-label">@(string.IsNullOrEmpty(item.Name) ? item.UserMail : item.Name)</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="t-accord-header">Tests</div>
    <div class="t-accord-content">
        <div id="menuTests" class="nt-acc-content nt-acc-content-noheader nt-acc-content-resp">
            <div class="nt-ctrl-search">
                <div class="nt-search-box">
                    <input type="text" placeholder="Search" class="nt-search-input" />
                    <i class="t-icon icon-search"></i>
                    <button class="nt-btn-icon nt-btn-clear ">
                        <i class="icon-remove-sign"></i>
                    </button>
                </div>
                <div class="nt-ctrl-search-tags nt-taglist"></div>
            </div>
            <div class="nt-ctrl-list">
                <div class="nt-ctrl-line"></div>
                <div class="nt-clb-header">
                    <div class="nt-clb-header-control">
                        <input type="checkbox" checked="checked" class="nt-ctrl-all" />
                    </div>
                    <div class="nt-clb-header-content">
                        <div class="nt-clb-header-label">
                            <span>Test</span>
                            <button class="nt-btn-circle-mini nt-sort-desc" data-order="desc" data-key="name"><i class="t-icon i-caret-down"></i></button>
                            <button class="nt-btn-circle-mini nt-sort-asc" data-order="asc" data-key="name"><i class="t-icon i-caret-up"></i></button>
                        </div>
                    </div>
                </div>
                <div class="nt-ctrl-line"></div>
                <div class="detail-list" style="max-height: 350px; overflow-y: auto;">
                    @foreach (var item in Model.AllTests)
                    {<div class="nt-clb-item nt-clb-item-multi nt-clb-item-sel">
                        <div class="nt-clb-item-control">
                            <input type="checkbox" checked="checked" test-id="@item.TestID" />
                        </div>
                        <div class="nt-clb-item-content">
                            <div class="nt-clb-item-label">@item.TestTitle</div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nt-scores-cont" style="height: 500px; overflow-y: hidden;">
    <div id="overview-container" class="nt-overview-list" style="overflow-y: auto; height: 85%; padding-left: 10px;">
            @Html.Partial("P_OverviewTab_Inner", Model)
    </div>
    <div class="nt-scores-footer">
        <div class="scorecontrols">
            @*<button class="nt-btn-submit">Send Scores...</button>*@
            <button id="btn-download-all-score" class="nt-btn-submit">Download</button>
        </div>
    </div>
</div>
