@model OATS_Capstone.Models.AbsResponseQuestion
@{
    var canEdit = false;
    if (ViewBag.canEdit != null)
    {
        canEdit = ViewBag.canEdit;
    }
}
<div class="nt-qitem nt-qitem-review">
    <div class="nt-qnum ">@Model.LabelOrder</div>
    <div class="nt-qtext">
        <p>@Html.Raw(Model.QuestionTitle)</p>
    </div>
    <div class="nt-qanscont nt-sortable"></div>
    <div class="nt-qmiddle">
        @if (Model.IsOneIdChecked)
        { 
            <div class="nt-qrespinput">@Html.Raw(Model.NonChoiceText)</div>
        }
        else
        {
            <div class="nt-qrespinput"></div>
        }

    </div>
    <div class="nt-qfoot">
        @if (!Model.IsOneIdChecked)
        {
            <div class="nt-qrep" style="">
                <span>Average Point:</span><span class="nt-crate">@Model.CorrectPraction</span>
            </div>
        }
        else
        {
            <button class="nt-btn-text nt-qcomm-toggle" style="display: none;">Comment</button>

            <div class="nt-qoepts">
                <span>Points:</span>
                @if (canEdit)
                {
                    <input question-id="@Model.QuestionID" max-point="@(Model.NonChoiceScore ?? 0)" type="text" value="@(Model.UserNonChoiceScore ?? 0)" class="nt-pts"/>
                }
                else
                {
                    <span class="nt-pts">@(Model.UserNonChoiceScore ?? 0)</span>
                }
                <span>of @Model.NonChoiceScore</span>
                <span class="nt-ok"><i class="icon-ok"></i></span>
                <span class="nt-hl-words-warn"><i class="icon-warning-sign"></i></span>
            </div>
        }




    </div>

    <div class="nt-qcomm" style="display: none;">
        <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
    </div>
</div>
