@model OATS_Capstone.Models.SettingConfigDetail
@{
    var isOwner = true;
    if (ViewBag.isOwner != null)
    {
        isOwner = ViewBag.isOwner;
    }
}
@if (isOwner)
{ 
    <label class="checkbox">
        @if (Model.IsActive)
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" checked="checked"/>
        }
        else
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" />
        }
        @Model.SettingType.SettingTypeDescription
    </label>
        if (Model.SettingType.SettingTypeKey == "OSM")
        {
            if (Model.IsActive)
            {
    <input id="asm_time_limit" data-key="number" type="text" value="@Model.NumberValue"><span>times</span>
            }
            else
            {
    <input id="asm_time_limit" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>times</span>
            }

            if (Model.IsActive && Model.NumberValue > 1)
            { 
     <div id="attempBase">
        <span>Score of this test based on: </span>
        <select data-key="text">
            @if (string.IsNullOrEmpty(Model.TextValue)||Model.TextValue == "Recent")
            {
                <option value="Recent" selected="selected">Recent Test</option>
            }
            else
            {
                <option value="Recent">Recent Test</option>
            }
            @if (Model.TextValue == "Average")
            {
                <option value="Average" selected="selected">Test With Average Score</option>
            }
            else
            {
                <option value="Average">Test With Average Score</option>
            }
            @if (Model.TextValue == "Maximum")
            {
                <option value="Maximum" selected="selected">Test With Highest Score</option>
            }
            else
            {
                <option value="Maximum">Test With Highest Score</option>
            }
        </select>
    </div>
            }
        }
        else if (Model.SettingType.SettingTypeKey == "RTC")
        {
            if (Model.IsActive)
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code" value="@Model.TextValue"/>
            }
            else
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code hide" />
            }
        }
        else if (Model.SettingType.SettingTypeKey == "MTP")
        {
            if (Model.IsActive)
            {
    <input id="asm_max_point" data-key="number" type="text" value="@Model.NumberValue"><span>Pts</span>
            }
            else
            {
    <input id="asm_max_point" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>Pts</span>
            }
        }
        else if (Model.SettingType.SettingTypeKey == "DRL")
        {
            if (Model.IsActive)
            { 
    <input id="asm_duration" data-key="number" type="text" value="@Model.NumberValue"><span>mins (default. 10 min)</span>
            }
            else
            {
    <input id="asm_duration" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>mins (default. 10 min)</span>
            }
        }else if (Model.SettingType.SettingTypeKey == "NPP")
        {
            if (Model.IsActive)
            {
    <input id="asm_num_question" data-key="number" type="text" value="@Model.NumberValue"><span>Questions</span>
            }
            else
            {
    <input id="asm_num_question" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>Questions</span>
            }
        }
}
else
{
    <label class="checkbox">
        @if (Model.IsActive)
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" checked="checked" disabled="disabled"/>
        }
        else
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" disabled="disabled" />
        }
        @Model.SettingType.SettingTypeDescription
    </label>
        if (Model.SettingType.SettingTypeKey == "OSM")
        {
    <input id="asm_time_limit" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>mins</span>
    if (Model.IsActive && Model.NumberValue > 1)
            { 
    <div id="attempBase">
        <span>Score of this test based on: </span>
        <select disabled="disabled" data-key="text">
            @if (string.IsNullOrEmpty(Model.TextValue)||Model.TextValue == "Recent")
            {
                <option value="Recent" selected="selected">Recent Test</option>
            }
            else
            {
                <option value="Recent">Recent Test</option>
            }
            @if (Model.TextValue == "Average")
            {
                <option value="Average" selected="selected">Test With Average Score</option>
            }
            else
            {
                <option value="Average">Test With Average Score</option>
            }
            @if (Model.TextValue == "Maximum")
            {
                <option value="Maximum" selected="selected">Test With Highest Score</option>
            }
            else
            {
                <option value="Maximum">Test With Highest Score</option>
            }
        </select>
    </div>
            }
        }
        else if (Model.SettingType.SettingTypeKey == "RTC")
        {
            if (Model.IsActive)
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code" value="@Model.TextValue"/>
            }
            else
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code hide" />
            }
        }
        else if (Model.SettingType.SettingTypeKey == "MTP")
        {
    <input id="asm_max_point" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>Pts</span>
        }
        else if (Model.SettingType.SettingTypeKey == "DRL")
        {
    <input id="asm_duration" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>mins (default. 10 min)</span>
        }else if (Model.SettingType.SettingTypeKey == "NPP")
        {
            <input id="asm_num_question" data-key="number" type="text" disabled="disabled" value="@Model.NumberValue"><span>Questions</span>
        }
        
        
}
