@model OATS_Capstone.Models.TestList
<script>
    $(function () {
        $("#asmsList").accordion({
            header: ".accordion-heading",
            heightStyle: "content",
            active: $("#asmsList .accordion-group[defaultactive=true]").index()
        });
    });
</script>
<style type="text/css" media="screen">
    .kalendae .k-days span.closed {
        background: red;
    }
</style>
<div id="asmsList" class="nt-flex-acc disable-accord-ui">
    <div class="accordion-group nt-acc-group nt-acc-open">
        <div class="accordion-heading">

            <a class="accordion-toggle" href="#">
                <div class="nt-led on"></div>
                <div class="nt-led "></div>
                <div class="nt-led "></div>
                <i class="t-icon arrow-up"></i>
                <div class="nt-desc">Recent Tests</div>
            </a>
        </div>
        <div id="recent" class="accordion-body" style="max-height: 300px">
            <div class="nt-asms-list accordion-inner" style="overflow-y: auto; height: 100%;">
                <a>
                    <div class="nt-list-head">

                        <div class="nt-name">
                            Tests
                        </div>
                        <div class="nt-date">Start</div>
                        <div class="nt-date">End</div>


                        <div class="nt-rate">Resp. Rate</div>

                        <div class="nt-perc">Avg.</div>
                        <div class="nt-perc">St.Dev.</div>
                        <div>&nbsp;</div>
                    </div>
                </a>

                <div class="nt-list-cont">
                    @if (Model.RecentTests.Count == 0)
                    {
                        <div class="nt-list-row">
                            <div class="nt-name">
                                <span>No Tests Available.</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.RecentTests)
                        {
                            if (item.IsRunning&&item.IsComplete)
                            {
                                if (item.IsCurrentUserOwnTest)
                                {
                        <div class="nt-list-row teacher">
                            <div class="nt-name">
                                <i class="t-icon i-teachers"></i>
                                <a href="@Url.Action("NewTest", new { id = item.TestID })" data-toggle="tooltip" data-placement="top" data-original-title="Open This Test">@item.TestTitle</a>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">
                                @item.Start
                            </div>
                            <div class="nt-date">
                                @item.End
                            </div>

                            <div class="nt-rate ">@item.Rate</div>

                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                            <div class="nt-ctrl nt-ctrl-wide" data-action="control">
                                <button test-id="@item.TestID" class="nt-btn-circle nt-dupbtn" data-toggle="tooltip" data-placement="right" data-original-title="Duplicate this test"><i class="t-icon i-duplicate"></i></button>
                            </div>
                        </div>
                                }
                                else
                                {
                                    var remainString = string.Empty;
                                    if (item.RemainAttemp.HasValue)
                                    {
                                        remainString = " - Remain Attemp: " + item.RemainAttemp.Value;
                                    }
                        <div class="nt-list-row student">
                            <div class="nt-name">
                                <i class="t-icon i-student"></i>
                                <a href="@Url.Action("DoTest", new { id = item.TestID, accesscode = "" })" data-toggle="tooltip" data-placement="top" data-original-title="@("Take This Test" + remainString)">@item.TestTitle</a>
                                @if(item.CanViewHistory){
                                <button test-id="@item.TestID" class="nt-btn-icon btn-test-history" data-toggle="tooltip" data-placement="top" data-original-title="View Test History">
                                    <i class="t-icon i-test-history"></i>
                                </button>
                                }
                                <button test-id="@item.TestID" class="nt-btn-icon btn-feedback" data-toggle="tooltip" data-placement="top" data-original-title="Give Feedback">
                                    <i class="t-icon i-feedback"></i>
                                </button>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">
                                @item.Start
                            </div>
                            <div class="nt-date">
                                @item.End
                            </div>


                            <div class="nt-rate ">@item.Rate</div>

                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                        </div>
                                }
                            }
                            else
                            {
                                if (item.IsCurrentUserOwnTest)
                                {
                        <div class="nt-list-row teacher locked">
                            <div class="nt-name">
                                <i class="t-icon i-teachers"></i>
                                <a href="@Url.Action("NewTest", new { id = item.TestID })" data-toggle="tooltip" data-placement="top" data-original-title="Open This Test - This Test Locked, Open To Check These Problem">@item.TestTitle</a>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">
                                @item.Start
                            </div>
                            <div class="nt-date">
                                @item.End
                            </div>

                            <div class="nt-rate ">@item.Rate</div>

                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                            <div class="nt-ctrl nt-ctrl-wide" data-action="control">
                                <button test-id="@item.TestID" class="nt-btn-circle nt-dupbtn" data-toggle="tooltip" data-placement="right" data-original-title="Duplicate this test"><i class="t-icon i-duplicate"></i></button>
                            </div>
                        </div>
                                }
                                else
                                {
                        <div class="nt-list-row student locked">
                            <div class="nt-name">
                                <i class="t-icon i-student"></i>
                                <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="This Test Locked">@item.TestTitle</a>
                                @if(item.CanViewHistory){
                                <button test-id="@item.TestID" class="nt-btn-icon btn-test-history" data-toggle="tooltip" data-placement="top" data-original-title="View Test History">
                                    <i class="t-icon i-test-history"></i>
                                </button>
                                }
                                <button test-id="@item.TestID" class="nt-btn-icon btn-feedback" data-toggle="tooltip" data-placement="top" data-original-title="Give Feedback">
                                    <i class="t-icon i-feedback"></i>
                                </button>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">
                                @item.Start
                            </div>
                            <div class="nt-date">
                                @item.End
                            </div>


                            <div class="nt-rate ">@item.Rate</div>

                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                        </div>
                                }

                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group nt-acc-group" defaultactive="true">
        <div class="accordion-heading">

            <a class="accordion-toggle" href="#">
                <div class="nt-led "></div>
                <div class="nt-led on"></div>
                <div class="nt-led "></div>
                <i class="t-icon arrow-up"></i>
                <div class="nt-desc">Running Tests</div>
            </a>
        </div>
        <div class="accordion-body" style="max-height: 300px">
            <div class="nt-asms-list accordion-inner" style="overflow-y: auto; height: 100%;">
                <a>
                    <div class="nt-list-head">

                        <div class="nt-name">
                            Tests
                        </div>
                        <div class="nt-date">Start</div>
                        <div class="nt-date">End</div>


                        <div class="nt-rate">Resp. Rate</div>

                        <div class="nt-perc">Avg.</div>
                        <div class="nt-perc">St.Dev.</div>
                        <div>&nbsp;</div>
                    </div>
                </a>

                <div class="nt-list-cont">
                    @if (Model.RunningTests.Count == 0)
                    {
                        <div class="nt-list-row">
                            <div class="nt-name">
                                <span>No Tests Available.</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.RunningTests)
                        {
                            if (item.IsRunning&&item.IsComplete)
                            {
                                if (item.IsCurrentUserOwnTest)
                                {
                        <div class="nt-list-row teacher">
                            <div class="nt-name">
                                <i class="t-icon i-teachers"></i>
                                <a href="@Url.Action("NewTest", new { id = item.TestID })" data-toggle="tooltip" data-placement="top" data-original-title="Open This Test">@item.TestTitle</a>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">@item.Start</div>
                            <div class="nt-date">@item.End</div>
                            <div class="nt-rate">@item.Rate</div>
                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                            <div class="nt-ctrl nt-ctrl-wide" data-action="control">
                                <button test-id="@item.TestID" class="nt-btn-circle nt-dupbtn" data-toggle="tooltip" data-placement="right" data-original-title="Duplicate this test"><i class="t-icon i-duplicate"></i></button>
                            </div>
                        </div>
                                }
                                else
                                {
                                    var remainString = string.Empty;
                                    if (item.RemainAttemp.HasValue)
                                    {
                                        remainString = " - Remain Attemp: " + item.RemainAttemp.Value;
                                    }
                        <div class="nt-list-row student">
                            <div class="nt-name">
                                <i class="t-icon i-student"></i>
                                <a href="@Url.Action("DoTest", new { id = item.TestID, accesscode = "" })" data-toggle="tooltip" data-placement="top" data-original-title="@("Take This Test" + remainString)">@item.TestTitle</a>
                                @if(item.CanViewHistory){
                                <button test-id="@item.TestID" class="nt-btn-icon btn-test-history" data-toggle="tooltip" data-placement="top" data-original-title="View Test History">
                                    <i class="t-icon i-test-history"></i>
                                </button>
                                }
                                <button test-id="@item.TestID" class="nt-btn-icon btn-feedback" data-toggle="tooltip" data-placement="top" data-original-title="Give Feedback">
                                    <i class="t-icon i-feedback"></i>
                                </button>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">@item.Start</div>
                            <div class="nt-date">@item.End</div>
                            <div class="nt-rate">@item.Rate</div>
                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                        </div>
                                }
                            }
                            else
                            {
                                if (item.IsCurrentUserOwnTest)
                                {
                        <div class="nt-list-row teacher locked">
                            <div class="nt-name">
                                <i class="t-icon i-teachers"></i>
                                <a href="@Url.Action("NewTest", new { id = item.TestID })" data-toggle="tooltip" data-placement="top" data-original-title="Open This Test - This Test Locked, Open To Check These Problem">@item.TestTitle</a>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">@item.Start</div>
                            <div class="nt-date">@item.End</div>
                            <div class="nt-rate">@item.Rate</div>
                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                            <div class="nt-ctrl nt-ctrl-wide" data-action="control">
                                <button test-id="@item.TestID" class="nt-btn-circle nt-dupbtn" data-toggle="tooltip" data-placement="right" data-original-title="Duplicate this test"><i class="t-icon i-duplicate"></i></button>
                            </div>
                        </div>
                                }
                                else
                                {
                        <div class="nt-list-row student locked">
                            <div class="nt-name">
                                <i class="t-icon i-student"></i>
                                <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="This Test Locked">@item.TestTitle</a>
                                @if(item.CanViewHistory){
                                <button test-id="@item.TestID" class="nt-btn-icon btn-test-history" data-toggle="tooltip" data-placement="top" data-original-title="View Test History">
                                    <i class="t-icon i-test-history"></i>
                                </button>
                                }
                                <button test-id="@item.TestID" class="nt-btn-icon btn-feedback" data-toggle="tooltip" data-placement="top" data-original-title="Give Feedback">
                                    <i class="t-icon i-feedback"></i>
                                </button>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <div class="nt-date">@item.Start</div>
                            <div class="nt-date">@item.End</div>
                            <div class="nt-rate">@item.Rate</div>
                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                        </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group nt-acc-group">
        <div class="accordion-heading">

            <a class="accordion-toggle" href="#">
                <div class="nt-led "></div>
                <div class="nt-led"></div>
                <div class="nt-led on"></div>
                <i class="t-icon arrow-up"></i>
                <div class="nt-desc">Upcoming Tests</div>
            </a>
        </div>
        <div class="accordion-body" style="max-height: 300px">
            <div class="nt-asms-list accordion-inner" style="overflow-y: auto; height: 100%;">
                <div class="nt-list-cont">
                    @if (Model.UpComingTests.Count == 0)
                    { 
                        <div class="nt-list-row">
                            <div class="nt-name">
                                <span>No Tests Available.</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.UpComingTests)
                        {
                        <div class="nt-list-row nt-upcoming">
                            <div class="nt-name">
                                <div>@item.TestTitle</div>
                                <div class="nt-smalldesc"><span class="nt-smalldesc-subj">Starting:</span>@item.Start</div>
                                <button class="nt-btn-icon nt-openbtn">
                                    <i class="t-icon pencilpaper"></i>
                                </button>
                            </div>
                            <div class="popover-introduction">@item.Introduction</div>
                            <!-- TODO: invite -->
                            <div class="nt-desc">@item.NumOfStudent Student</div>

                            @if(item.IsCurrentUserOwnTest){
                            <div class="nt-desc">
                                <a href="@Url.Action("NewTest", new { id = @item.TestID, tab = "Invitation" })" class="nt-btn-text nt-invbtn">Invite</a>
                            </div>
                            }

                            <div class="nt-desc">@item.NumOfTeacher Educator</div>

                            @if(item.IsCurrentUserOwnTest){
                            <div class="nt-ctrl nt-ctrl-wide" data-action="control">
                                <button test-id="@item.TestID" class="nt-btn-circle nt-dupbtn" data-toggle="tooltip" data-placement="right" data-original-title="Duplicate this test"><i class="t-icon i-duplicate"></i></button>
                            </div>
                            }
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>