@model OATS_Capstone.Models.Question

<div class="nt-qitem" question-type="Image" question-id="@Model.QuestionID">
    <div class="nt-qnum nt-qnum-letter"></div>
    <a class="nt-qanchor"></a>
    <p align="center" class="nt-qimg-cont" style="display: block">
        @{
            var path = Model.ImageUrl;
            var isImage = false;
            if (!string.IsNullOrEmpty(path))
            {
                path = path.Trim();
                var realPath = HttpContext.Current.Server.MapPath(path);
                if (File.Exists(realPath)) { isImage = true; }
            }
            if (isImage)
            {
            <img alt="@Path.GetFileName(path)" src="@Url.Content(path)" width="300" height="300"/>
            }
            else
            {
            <img alt="default" src="@Url.Content("~/Style/img/photo_not_available.jpg")" width="300" height="300" />
            }
        }
    </p>

    <div class="nt-qtext nt-qimg-desc">
        <p>@Model.QuestionTitle</p>
    </div>

    <div class="nt-qanscont nt-sortable"></div>
    <div class="nt-qfoot">
        <div class="nt-qrep" style="display: none">
            <span>Correct:</span><span class="nt-crate"></span>
            <span>Pbs:</span><span class="nt-pbs nt-guide" data-guide="resp_q_pbs"></span>
        </div>
    </div>
</div>
