@using OATS_Capstone.Models
@{
    ViewBag.Title = "Index";
}
@model OATS_Capstone.Models.Test
@{
    var authen = AuthenticationSessionModel.Instance();
    var user = authen.User;
    var durationDetail = Model.SettingConfig.SettingConfigDetails.FirstOrDefault(i => i.SettingType.SettingTypeKey == "DRL");
    var accesscodeDetail = Model.SettingConfig.SettingConfigDetails.FirstOrDefault(i => i.SettingType.SettingTypeKey == "RTC");
}
<script src="~/Resource/Scripts/DoTestScript.js"></script>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div id="savestatus" style="display: none;">
            <span class="nt-desc" style="display: inline;"></span>
        </div>
        <div class="container">
            <a id="logo" class="brand" href="@Url.Action("Index", "Tests")">OATS</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Tests")"><i class="t-icon i-tests"></i>Tests</a></li>
                    <li><a href="@Url.Action("Index", "Teachers")"><i class="t-icon i-teachers"></i>Teachers</a></li>
                    <li><a href="@Url.Action("Index", "Students")"><i class="t-icon i-student"></i>Students</a></li>
                    <li>
                        <button class="btn oval" onclick="window.location='@Url.Action("MakeTest")'">New</button></li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <div class="navbar-search pull-left">
                            <input type="text" class="nt-search-input search-query" placeholder="Search Tests" />
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="t-icon icon-user"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Welcome: @(string.IsNullOrEmpty(user.Name) ? user.UserMail : user.Name)</li>
                            <li class="divider"></li>
                            <li><a href="#" id="profile-link">My Profile</a></li>
                            <li><a href="@Url.Action("LogOut", "Account")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<div id="container" class="container wrapper nt-de-cont">
    <div id="jointest_container">
        <div class="thumbnail well well-small text-center">
            <h3>@Model.TestTitle</h3>
            <h4> Duration: @durationDetail.NumberValue mins</h4>


            @using (Html.BeginForm("DoTest", "Tests", new { id = Model.TestID, check = true }, FormMethod.Post))
            {
                if (accesscodeDetail.IsActive)
                {
                <p>This test require test access code to. Please use your access code in invitation email.</p>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-pencil"></i></span>
                    <input type="password" id="" name="accesscode" placeholder="your access code" />
                </div>
                <br />
                <button type="submit" class="btn-submit btn btn-large">Take this test</button>
                }
                else
                {
                <div class="input-prepend">
                    <button type="submit" id="btn-continue" class="btn-submit btn btn-large">Continue</button>
                </div>
                }
            }



        </div>
    </div>

</div>
