@section additionheader{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/Bootstrap/js/jquery.hotkeys.js"></script>
    <script src="~/Bootstrap/js/bootstrap-wysiwyg.js"></script>
    <script src="~/Bootstrap/js/raphael.js"></script>
    <script src="~/Bootstrap/js/jquery.countdown.js"></script>
    <script src="~/Resource/Scripts/DoTestScript.js"></script>
    <link href="~/Bootstrap/css/jquery.countdown.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Index";
}
@model OATS_Capstone.Models.TestLogic
@{
    var authen = OATS_Capstone.Models.AuthenticationSessionModel.Instance();
    var user = authen.User;
}
@if (Model != null)
{
    <input id="test-id" type="hidden" value="@Model.TestID" />
    <input id="test-duration" type="hidden" value="@Model.TestDuration" />
    
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div id="savestatus" style="display: none;">
                <span class="nt-desc" style="display: inline;"></span>
            </div>
            <div class="container">
                <a id="logo" class="brand" href="@Url.Action("Index", "Tests")">OATS</a>
                <div class="nt-test-header">@Model.TestTitle</div>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="t-icon icon-user"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Welcome: @(string.IsNullOrEmpty(user.Name) ? user.UserMail : user.Name)</li>
                            <li class="divider"></li>
                            <li><a href="#" id="profile-link">My Profile</a></li>
                            <li><a href="@Url.Action("LogOut", "Account")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <div id="container" class="container wrapper nt-de-cont">
        <div class="nt-checklist-cont" style="max-height: 560px; overflow-y: auto;">
            @if (!string.IsNullOrEmpty(Model.Introduction))
            {
                <div class="introduction">
                    <span class="summary">Introduction : </span>
                    <span>@Model.Introduction</span>
                </div>
            }
            <div class="nt-username">@(string.IsNullOrEmpty(user.Name) ? user.UserMail : user.Name)</div>
            <div id="checklist">
                @if (Model == null)
                { @Html.Partial("P_Type_Empty_Template") }
                else
                {
                    if (Model.Questions.Count() == 0)
                    {
                    @Html.Partial("P_Type_Empty_Template")
                    }
                    else
                    {
                        foreach (var question in Model.Questions)
                        {
                    @Html.Partial("P_Question_Instance_DoTest", question)
                        }
                    }
                }
            </div>
        </div>
        <div class="nt-footer" style="display: block;">
            <div class="nt-footer-cont">
                <div class="nt-resp-stat">
                    <div class="nt-resp-stat-desc"></div>
                    <div class="nt-resp-stat-bar">
                    </div>
                </div>
                <button id="submit-btn" class="nt-btn-submit nt-submit">Submit</button>
                <div class="nt-footer-right">
                    <div class="nt-time-remaining" id="c427">
                        <div class="nt-time-remaining-text">Time remaining:</div>
                        <div id="countdown"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="confirmSubmit" class="modal hide fade in">
    <div class="modal-body">
        <div>
            Are you sure you want to submit all and finish this test?
        </div>
    </div>
    <div class="modal-footer">
        <button class="nt-btn-submit nt-btn-ok">OK</button>
        <button class="nt-btn-dark nt-btn-cancel" data-dismiss="modal">Cancel</button>
    </div>
</div>
