@{
    ViewBag.Title = "NewTest_SettingTab";
}

<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a id="logo" class="brand" href="#">OATS</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Tests")"><i class="t-icon i-tests"></i>Tests</a></li>
                    <li><a href="@Url.Action("Index", "Teachers")"><i class="t-icon i-teachers"></i>Teachers</a></li>
                    <li><a href="@Url.Action("Index", "Students")"><i class="t-icon i-student"></i>Students</a></li>
                    <li>
                        <button class="btn oval" onclick="window.location='@Url.Action("NewTest")'">New</button></li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <div class="navbar-search pull-left">
                            <input type="text" class="search-query span2" placeholder="Search Tests">
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="t-icon icon-user"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Name</li>
                            <li class="divider"></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<div id="container" class="container wrapper">
    <div id="test-header">
        <div contenteditable="true" id="test-title">Enter Test Title</div>
        <div id="eventDateFrom" class="test-date-time" contenteditable="true">8 May 2013</div>
        <div id="eventTimeFrom" class="test-date-time" contenteditable="true">4:00 pm</div>
        <div class="spacer">_</div>
        <div id="eventDateTo" class="test-date-time" contenteditable="true">8 May 2013</div>
        <div id="eventTimeTo" class="test-date-time" contenteditable="true">6:00 pm</div>
    </div>
    <div class="test-outer-tags">
        <div class="test-tags">
            <input type="text" class="input-small nt-guide ac_input" data-guide="add_tag" placeholder="Add Tag..." autocomplete="off">
        </div>
    </div>
    <div class="tabs-wrapper">
        <div class="navbar">
            <div class="navbar-inner test-larger-custom">
                <ul class="nav">
                    <li><a href="@Url.Action("NewTest")">Content</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Invitation</a></li>
                    <li class="active"><a href="@Url.Action("NewTest_ResponseTab")">Response</a></li>
                    <li><a href="@Url.Action("NewTest_ScoreTab")">Score</a></li>
                </ul>
            </div>
        </div>
  <div id="eventTab"><div class="nt-asm-settings" style="height: 400px; overflow-y: auto;">
  <div class="nt-panel">
    <div class="nt-section">
      <div class="nt-header">Test Access Control</div>
      <ul>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_accescode">
            <input id="asm_access_code_only" type="checkbox">Require test access code
          </label>
          <div id="asm_access_code" class="nt-access-code hide"></div>
        </li>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_nocheat">
            <input id="asm_nocheat" type="checkbox">Locked-down app access ONLY
          </label>
        </li>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_1submit">
            <input id="asm_ans_final" type="checkbox">One Submission Only - Time Limit:
            <input id="asm_time_limit" type="text" class="nt-guide" data-guide="delivery_opt_timelimit" disabled="disabled">mins
          </label>
        </li>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_selfreg">
            <input id="asm_selfreg" type="checkbox">Student self-registration allowed
          </label>
          <div id="asm_selfreg_url" class="nt-url hide nt-guide" data-guide="delivery_opt_selfreg_link"></div>
        </li>
      </ul>
    </div>
    <div class="nt-section">
      <div class="nt-header">Results &amp; Reporting</div>
      <ul>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_selfassess">
            <input id="asm_selfasm" type="checkbox">Immediate self-assessment
          </label>
        </li>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_scoreaccess">
            <input id="asm_learn_acc_own_rep" type="checkbox">Students can access their own score reports
          </label>
        </li>
        <li>
          <label class="checkbox checkbox-indent nt-guide" data-guide="delivery_opt_finalreponly">
            <input id="asm_final_reports_only" type="checkbox">Only once all essay and short answer scores are approved
          </label>
        </li>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_grades">
            <input id="asm_show_grades" type="checkbox">Grades in Score Report
            <button id="btnAdjustGrading" class="nt-btn-text">Adjust Grading...</button>
          </label>
        </li>
      </ul>
    </div>
    <div class="nt-section">
      <div class="nt-header">Test Formatting</div>
      <ul>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_rndq">
            <input id="asm_randomize" type="checkbox">Randomize the order of questions
          </label>
        </li>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_1qpp">
            <input id="asm_single_question_view" type="checkbox">One question per page
          </label>
        </li>
        <li>
          <label class="checkbox  nt-guide" data-guide="delivery_opt_showpts">
            <input id="asm_show_max_scores" type="checkbox" checked="checked">Show question point value
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
    </div>
</div>
