@using OATS_Capstone.Models
@model IEnumerable<OATS_Capstone.Models.FeedBack>
<div class="nt-asm-settings" style="height: 450px; overflow-y: auto;">
    <div id="comments" class="nt-panel" style="height: 450px; overflow-y: auto">
        <div class="comment-count">
            All Comments
            <span>(@Model.Count())         
            </span>
            <div class="btn-group" style="margin-left: 38px">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort by
    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="sortby">
                    <li id="sortbydate"><a sort-type="0" href="@Url.Action("NewTest_FeedBackTab", "Tests")">By Date</a></li>
                    <li id="sortbyname"><a sort-type="1" href="@Url.Action("NewTest_FeedBackTab", "Tests")">By Name</a></li>
                    <!-- dropdown menu links -->
                </ul>
            </div>

        </div>
        @foreach (var feedback in Model)
        {
            <article class="comment">

                <div class="comment-meta">
                    <a href="#" class="url">@feedback.User.FirstName<span> </span>@feedback.User.LastName</a> says<time>@feedback.FeedBackDateTime</time>
                </div>

                <div class="comment-body">
                    <p>@feedback.FeedBackDetail
                    </p>
                </div>

            </article>		 
        }
    </div>
</div>
