@model OATS_Capstone.Models.Invitation
@{
    var isAuthor = true;
    if (ViewBag.isAuthor != null)
    {
        isAuthor = ViewBag.isAuthor;
    }
}
@if (Model.IsMailSent)
{
    <tr user-id="@Model.UserID" invitation-id="@Model.InvitationID" class="sent">
        <td class="nt-desc nt-name">
            <span>@(string.IsNullOrEmpty(Model.User.Name) ? "N/A" : Model.User.Name)</span>
        </td>
        <td class="nt-desc nt-email">@Model.User.UserMail</td>
        <td><span class="label label-info">Mail Sent</span></td>
        @if (isAuthor)
        {
            <td class="nt-ctrl">
                <button class="nt-btn-icon nt-btn-ri">
                    <i class="icon-repeat"></i>
                </button>
                <button class="nt-btn-icon nt-btn-rm">
                    <i class="icon-remove"></i>
                </button>
            </td>
        }
    </tr>
}
else
{
    <tr user-id="@Model.UserID" invitation-id="@Model.InvitationID" class="unsent">
        <td class="nt-desc nt-name">
            <span>@(string.IsNullOrEmpty(Model.User.Name) ? "N/A" : Model.User.Name)</span>
        </td>
        <td class="nt-desc nt-email">@Model.User.UserMail</td>
        <td><span class="label label-important">Mail Un-Sent</span></td>
        @if (isAuthor)
        {
            <td class="nt-ctrl">
                <button class="nt-btn-icon nt-btn-ri">
                    <i class="icon-repeat"></i>
                </button>
                <button class="nt-btn-icon nt-btn-rm">
                    <i class="icon-remove"></i>
                </button>
            </td>
        }
    </tr>
}