@model OATS_Capstone.Models.AbsResponseQuestion
<div class="nt-qitem nt-qitem-review">
    <div class="nt-qnum ">@Model.LabelOrder</div>
    <div class="nt-qtext">
        <p>@Model.QuestionTitle</p>
    </div>
    <div class="nt-qhctrls">
        <label class="checkbox">
            <input class="nt-scored" type="checkbox" disabled checked="checked" />Scored</label>
    </div>
    <div class="nt-qanscont nt-sortable">
        @foreach (var item in Model.ResponseAnswers)
        {
            <div class="nt-qans nt-qans-hover">
                <!-- TODO: consistent editable / fillable display -->
                <label class="checkbox nt-qans-label ">
                    @if (Model.IsOneIdChecked && item.UserChooseThisAnswer)
                    {
                        <input type="checkbox" disabled="disabled" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" disabled="disabled" />
                    }
                    <div class="nt-qansdesc">
                        <p>@item.AnswerContent<br />
                        </p>
                    </div>
                </label>
                <div class="nt-qansrep">
                    @if (Model.IsOneIdChecked && item.UserChooseThisAnswer)
                    {
                        if (item.IsRight)
                        {
                        <div class="nt-qansrep-corr"><i class="icon-ok-sign"></i></div>
                        }
                        else
                        {
                        <div class="nt-qansrep-corr"><i class="icon-remove-sign"></i></div> 
                        }
                    }
                    @if (item.IsRight)
                    {
                        <div class="nt-qpts">@item.Score pt</div>
                        <div class="nt-qansrep-color" style="background-color: green; opacity: 1"></div>
                    }
                    else
                    {
                        <div class="nt-qpts"></div>
                        <div class="nt-qansrep-color" style="background-color: green; opacity: 0"></div>
                    }
                    @if(Model.IsOneIdChecked){
                    <div class="nt-qansrep-pct" style="visibility: hidden;"></div>
                    }else{
                    <div class="nt-qansrep-pct" style="visibility: visible;">@item.AnswerPercent</div>
                    }
                </div>
            </div>    
        }

    </div>
    <div class="nt-qfoot">
        @if(!Model.IsOneIdChecked){
        <div class="nt-qrep" style="">
            <span>Correct:</span><span class="nt-crate">@Model.CorrectPercent (@Model.CorrectPraction)</span>
        </div>
        }else{

        <div class="nt-qoepts">
            <span>Points: @Model.UserScore</span>
            <span class="nt-pts"></span>
            <span>out of @Model.ChoiceScore pt</span>
            <span class="nt-ok"><i class="icon-ok"></i></span>
            <span class="nt-hl-words-warn"><i class="icon-warning-sign"></i></span>
        </div>
        }
    </div>
    <div class="nt-qcomm" style="display: none;">
        <textarea class="nt-comm" placeholder="Comment for the student about this response"></textarea>
    </div>
</div>
