@model OATS_Capstone.Models.Question
@{
    var answers = @Model.Answers.Where(k => !String.IsNullOrEmpty(k.AnswerContent)).Select(i => i.AnswerContent);
    var answersDescription =answers.Count()==0?string.Empty: answers.Aggregate((w, n) =>Html.Raw(w) + "/ " + Html.Raw(n));
    }
<div class="nt-qsearch" data-action="reuse" question-id="@Model.QuestionID">
    <div>
        <i class="t-icon i-multiple"></i>
    </div>
    <div class="nt-qsearch-content">
        <div class="nt-qsearch-title">
            <p>@Html.Raw(Model.QuestionTitle)</p>
        </div>
        <div class="nt-qsearch-desc">@answersDescription</div>
    </div>
    <div class="nt-qsearch-popover-cont">
        <div class="nt-qsearch-popover">
            <div class="nt-qtext nt-phrase">
                <p>@Html.Raw(Model.QuestionTitle)</p>

            </div>
            <div class="nt-qanscont">
                @foreach (var ans in Model.Answers)
                {
                    <div class="nt-qans">
                        <label class="checkbox nt-qans-label nt-qans-label-rep">
                            @if (ans.IsRight)
                            {
                                <input type="checkbox" checked="checked" disabled="disabled" />
                            }
                            else
                            {
                                <input type="checkbox" disabled="disabled" />
                            }
                            <div class="nt-qansdesc">
                                <p>@Html.Raw(ans.AnswerContent)</p>
                            </div>
                        </label>
                        <div class="nt-qansrep">
                            <div class="nt-qpts">@(ans.Score??0) pts</div>
                        </div>
                    </div>
                }
            </div>
            <div class="nt-taglist">
                @{
                    var tags = Model.TagInQuestions.OrderBy(i => i.SerialOrder).Select(i => i.Tag);
                    foreach (var item in tags)
                    {
                    @Html.Partial("P_Tag_Item", item)
                    }
                }
            </div>
        </div>
    </div>
</div>
