@model OATS_Capstone.Models.SettingConfigDetail
@{
    var isOwner = true;
    if (ViewBag.isOwner != null)
    {
        isOwner = ViewBag.isOwner;
    }
}
@if (isOwner)
{ 
    <label class="checkbox">
        @if (Model.IsActive)
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" checked="checked"/>
        }
        else
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" />
        }
        @Model.SettingType.SettingTypeDescription
    </label>
        if (Model.SettingType.SettingTypeKey == "OSM")
        {
            if (Model.IsActive)
            {
    <input id="asm_time_limit" type="text" value="@Model.NumberValue"><span>times</span>
            }
            else
            {
    <input id="asm_time_limit" type="text" disabled="disabled" value="@Model.NumberValue"><span>times</span>
            }
        }
        else if (Model.SettingType.SettingTypeKey == "RTC")
        {
            if (Model.IsActive)
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code" value="@Model.TextValue"/>
            }
            else
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code hide" />
            }
        }
        else if (Model.SettingType.SettingTypeKey == "MTP")
        {
            if (Model.IsActive)
            {
    <input id="asm_max_point" type="text" value="@Model.NumberValue"><span>Pts</span>
            }
            else
            {
    <input id="asm_max_point" type="text" disabled="disabled" value="@Model.NumberValue"><span>Pts</span>
            }
        }
        else if (Model.SettingType.SettingTypeKey == "DRL")
        {
            if (Model.IsActive)
            { 
                <input id="asm_duration" type="text" value="@Model.NumberValue"><span>times</span>
            }
            else
            {
                <input id="asm_duration" type="text" disabled="disabled" value="@Model.NumberValue"><span>times</span>
            }
        }
}
else
{
    <label class="checkbox">
        @if (Model.IsActive)
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" checked="checked" disabled="disabled"/>
        }
        else
        {
            <input setting-key="@Model.SettingType.SettingTypeKey" type="checkbox" disabled="disabled" />
        }
        @Model.SettingType.SettingTypeDescription
    </label>
        if (Model.SettingType.SettingTypeKey == "OSM")
        {
    <input id="asm_time_limit" type="text" disabled="disabled" value="@Model.NumberValue"><span>mins</span>
        }
        else if (Model.SettingType.SettingTypeKey == "RTC")
        {
            if (Model.IsActive)
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code" value="@Model.TextValue"/>
            }
            else
            {
    <input type="text" id="asm_access_code" disabled="disabled" class="nt-access-code hide" />
            }
        }
        else if (Model.SettingType.SettingTypeKey == "MTP")
        {
    <input id="asm_max_point" type="text" disabled="disabled" value="@Model.NumberValue"><span>Pts</span>
        }
}
