@model OATS_Capstone.Models.TestList
<script>
    $(function () {
        $("#asmsList").accordion({
            header: ".accordion-heading",
            heightStyle: "content"
        });
    });
</script>
<style>
    #asmsOverview {
        margin-right: 5px;
        vertical-align: top;
    }
</style>
<style type="text/css" media="screen">
    .kalendae .k-days span.closed {
        background: red;
    }
</style>
<div id="asmsList" style="height: 600px; overflow-y: visible; float: left; width: 740px;" class="nt-flex-acc">
    <div class="accordion-group nt-acc-group nt-acc-open">
        <div class="accordion-heading">

            <a class="accordion-toggle" href="#">
                <div class="nt-led on"></div>
                <div class="nt-led "></div>
                <div class="nt-led "></div>
                <i class="t-icon arrow-up"></i>
                <div class="nt-desc">Recent Tests</div>
            </a>
        </div>
        <div id="recent" class="accordion-body" style="max-height: 400px">
            <div class="nt-asms-list accordion-inner" style="overflow-y: auto; height: 100%;">
                <a>
                    <div class="nt-list-head">

                        <div class="nt-name">
                            Tests
                        </div>
                        <div class="nt-date">Start</div>
                        <div class="nt-date">End</div>


                        <div class="nt-rate">Resp. Rate</div>

                        <div class="nt-perc">Avg.</div>
                        <div class="nt-perc">St.Dev.</div>
                        <div>&nbsp;</div>
                    </div>
                </a>

                <div class="nt-list-cont">
                    @if (Model.RecentTests.Count == 0)
                    {
                        <div class="nt-list-row">
                            <div class="nt-name">
                                <span>No Tests Available.</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.RecentTests)
                        {
                        <div class="nt-list-row">

                            @if (item.IsCurrentUserOwnTest)
                            {
                                <div class="nt-name">
                                    <a href="@Url.Action("NewTest", new { id = item.TestID })">@item.TestTitle</a>
                                </div>
                            }
                            else
                            {
                                <div class="nt-name">
                                    <a href="@Url.Action("DoTest", new { id = item.TestID, accesscode = "" })">@item.TestTitle</a>
                                    <button test-id="@item.TestID" class="nt-btn-icon btn-feedback">
                                        <i class="t-icon i-feedback"></i>
                                    </button>
                                </div>
                            }


                            <div class="nt-date">
                                @item.Start
                            </div>
                            <div class="nt-date">
                                @item.End
                            </div>


                            <div class="nt-rate ">@item.Rate</div>

                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group nt-acc-group">
        <div class="accordion-heading">

            <a class="accordion-toggle" href="#">
                <div class="nt-led "></div>
                <div class="nt-led on"></div>
                <div class="nt-led "></div>
                <i class="t-icon arrow-up"></i>
                <div class="nt-desc">Running Tests</div>
            </a>
        </div>
        <div class="accordion-body" style="max-height: 400px">
            <div class="nt-asms-list accordion-inner" style="overflow-y: auto; height: 100%;">
                <a>
                    <div class="nt-list-head">

                        <div class="nt-name">
                            Tests
                        </div>
                        <div class="nt-date">Start</div>
                        <div class="nt-date">End</div>


                        <div class="nt-rate">Resp. Rate</div>

                        <div class="nt-perc">Avg.</div>
                        <div class="nt-perc">St.Dev.</div>
                        <div>&nbsp;</div>
                    </div>
                </a>

                <div class="nt-list-cont">
                    @if (Model.RecentTests.Count == 0)
                    {
                        <div class="nt-list-row">
                            <div class="nt-name">
                                <span>No Tests Available.</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.RunningTests)
                        {
                        <div class="nt-list-row">
                            @if (item.IsCurrentUserOwnTest)
                            {
                                <div class="nt-name">
                                    <a href="@Url.Action("NewTest", new { id = item.TestID })">@item.TestTitle</a>
                                </div>
                            }
                            else
                            {
                                <div class="nt-name">
                                    <a href="@Url.Action("DoTest", new { id = item.TestID, accesscode = "" })">@item.TestTitle</a>
                                    <button test-id="@item.TestID" class="nt-btn-icon btn-feedback">
                                        <i class="t-icon i-feedback"></i>
                                    </button>
                                </div>
                            }
                            <div class="nt-date">@item.Start</div>
                            <div class="nt-date">@item.End</div>
                            <div class="nt-rate">@item.Rate</div>
                            <div class="nt-perc">@item.AverageString</div>
                            <div class="nt-perc">@item.STDEVString</div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group nt-acc-group">
        <div class="accordion-heading">

            <a class="accordion-toggle" href="#">
                <div class="nt-led "></div>
                <div class="nt-led on"></div>
                <div class="nt-led "></div>
                <i class="t-icon arrow-up"></i>
                <div class="nt-desc">Upcoming Tests</div>
            </a>
        </div>
        <div class="accordion-body" style="max-height: 400px">
            <div class="nt-asms-list accordion-inner" style="overflow-y: auto; height: 100%;">
                <div class="nt-list-cont">
                    @foreach (var item in Model.UpComingTests)
                    {
                        <div class="nt-list-row nt-upcoming">
                            <div class="nt-name">
                                <div>demo test</div>
                                <div class="nt-smalldesc"><span class="nt-smalldesc-subj">Starting:</span>@item.Start</div>
                                <button class="nt-btn-icon nt-openbtn">
                                    <i class="t-icon pencilpaper"></i>
                                </button>
                            </div>
                            <!-- TODO: invite -->
                            <div class="nt-desc">@item.NumOfStudent Student</div>

                            <div class="nt-desc">
                                <button class="nt-btn-text nt-invbtn">Invite</button>
                            </div>

                            <div class="nt-desc">@item.NumOfTeacher Educator</div>


                            <div class="nt-ctrl nt-ctrl-wide">
                                <button class="nt-btn-circle nt-dupbtn"><i class="nt-icon copy"></i></button>
                                <button class="nt-btn-circle nt-delbtn"><i class="nt-icon remove"></i></button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div id="asmsOverview">
</div>

