@using OATS_Capstone.Models
@{
    ViewBag.Title = "Index";
}
@{
    var authen=AuthenticationSessionModel.Instance();
    var user = authen.User;
    var owner = authen.OwnerUser;
    }
<script src="~/Resource/Scripts/SearchUsers.js"></script>
<script src="~/Resource/Scripts/SearchStudents.js"></script>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div id="savestatus" style="display:none;">
            <span class="nt-desc" style="display: inline;"></span>
        </div>
        <div class="container">
            <a id="logo" class="brand" href="#">OATS</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li><a href="@Url.Action("Index","Tests")"><i class="t-icon i-tests"></i>Tests</a></li>
                    <li><a href="@Url.Action("Index","Teachers")"><i class="t-icon i-teachers"></i>Teachers</a></li>
                    <li class="active"><a href="@Url.Action("Index","Students")"><i class="t-icon i-student"></i>Students</a></li>
                    <li>
                        <button class="btn oval" onclick="window.location='@Url.Action("MakeStudent")'">New</button></li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        <div class="navbar-search pull-left">
                            <input type="text" class="nt-search-input search-query" placeholder="Search Users" />
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="t-icon icon-user"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (authen.IsCurrentUserAlsoOwner) { 
                                <li class="nav-header">Welcome: @(owner.FirstName??owner.LastName??owner.UserMail)</li>
                            <li class="divider"></li>
                            <li><a href="#">My Account</a></li>
                            <li><a id="logout-link" href="#">Logout</a></li>
                            }else{
                            <li class="nav-header">Tests Holder: @(owner.FirstName??owner.LastName??owner.UserMail)</li>
                            <li class="nav-header">@(user.FirstName??user.LastName??user.UserMail)</li>
                            <li class="divider"></li>
                            <li><a href="#">My Account</a></li>
                            <li><a id="logout-link" href="#">Logout</a></li>
                                }
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
